.contact-us {
  padding-bottom: 110px;
}

.contact-us__content {
  width: 100%;
  max-width: 335px;
  margin: 0 auto 125px;
}

.contact-us__title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--contact-title);
}

.contact-us__reverse {
  display: flex;
  flex-direction: column-reverse;
}

.contact-us__text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--contact-us-text);
}

.contact-us__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0 18px;
}

.contact-us__item+.contact-us__item {
  margin-left: 33px;
}

.school {
  display: block;
  width: 100%;
  max-width: 362px;
  height: 323px;
  margin: 0 auto;
}

@media only screen and (min-width:1024px) {

  .contact-us__content {
    margin-bottom: 66px;
  }

  .contact-us__reverse {
    margin-top: 27px;
    flex-direction: column;
  }

  .contact-us__list {
    margin-top: 65px;
    margin-bottom: 0;
  }

  .icons-desktop {
    width: 50px;
    height: 50px;
  }

  .school {
    width: 100%;
    max-width: 871px;
  }
}

@media only screen and (max-width:350px) {
  .contact-us__text {
    font-size: 16px;
    line-height: 25px;
  }
}